body{
    background-color: blueviolet;
    font: normal 15px Arial;
}
header{
    color: white;
    text-align: center;
}

section{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.405);
}

div{
    text-align: center;
    padding: 25px;
    font-size: 20px;;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}